.App {
  text-align: center;
  background-color: #3b3b47;
  height: 100vh;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.btn {
  background-color: #4bcb6e;
  color: white;
  font-size: 16px;
  padding: 8px 25px;
  border: none;
  border: 1px solid #4bcb6e;
  border-radius: 50px;
    min-width: 120px;
    margin: 5px 10px;
    text-transform: uppercase;
    font-weight: 500;
}